.footer {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  color: #fff;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    margin-top: 5.5rem;
  }
}

@media screen and (max-width: 544px) {
  .footer__copyright {
    margin-top: 0;
  }
}
